
.grid-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 50em;
    border: 3px solid transparent;
    border-image: linear-gradient(
            to bottom right,
            teal 0%,
            mediumvioletred 25%,
            steelblue 50%,
            darkblue 75%,
            #fd1892 100%
    );
    border-image-slice: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding-bottom: 2em;
    padding-left:2em;
    padding-right:2em;
}

.introduction {
    font-size: 17px;
}

#job-title{
    margin-top: 2em;
}

#gradpic{
    border-radius: 75%;
    width: 300px;
    margin-top: 10px;
}

.grid-home > * {
    flex: 1 1 3em;
}

.col h1 {
    margin-bottom: 0.1em;
}

.col h4 {
    margin-top: 0.1em;
}

.dashed-line {
    border-top: 2px dashed white;
    width: 100%;
    height: 0;
}

.app-col{
    margin-bottom: 5em;
    text-align: center;
}

