
#nasa-title{
    font-size: 50px;
    font-weight: bold;

}

#nasa-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 50em;
    border: 3px solid transparent;
    border-image: linear-gradient(
            to bottom right,
            teal 0%,
            mediumvioletred 25%,
            steelblue 50%,
            darkblue 75%,
            #fd1892 100%
    );
    border-image-slice: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding-bottom: 2em;
    padding-left:2em;
    padding-right:2em;
}

#api-text{
    font-style: italic;
    color: #0A66C2;
}
