#project-title {
    font-size: 50px;
    font-weight: bold;

}

.grid-projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 76em;
    padding: 4px 4px 4px 4px;
    background-color: black;
    border: 3px solid transparent;
    border-image: linear-gradient(
            to bottom right,
            teal 0%,
            mediumvioletred 25%,
            steelblue 50%,
            darkblue 75%,
            #fd1892 100%
    );
    border-image-slice: 1;
}

.projects-col {
    border: 1px solid black;
    align-content: space-between;
}

