
#project-title{
    font-size: 50px;
    font-weight: bold;
}

.grid-projects {
    display: flex;
    flex-wrap: wrap;

    flex-basis: 100%;
    max-width: 64em;

    padding: 4px 4px 4px 4px;
    background-color: black;
    border: 3px solid transparent;
    border-image: linear-gradient(
            to bottom right,
            teal 0%,
            mediumvioletred 25%,
            steelblue 50%,
            darkblue 75%,
            #fd1892 100%
    );
    border-image-slice: 1;
}

.grid-projects>*{
    flex: 1 1 20em;
}

.projects-col{
    border: 1px solid black;
    align-content: space-between;
}

