body {
  background-color: #000000;
  background-image: url('plain-black-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.birth-name{
  padding-right: 20px;
}

.name-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-family: verdana, serif;
  font-size: 4em;
  font-weight: 700;
}

.grid-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
}








